[submodule "berlin-transport/Vendor/Quick"]
	path = berlin-transport/Vendor/Quick
	url = git@github.com:Quick/Quick.git
[submodule "berlin-transport/Vendor/Nimble"]
	path = berlin-transport/Vendor/Nimble
	url = git@github.com:Quick/Nimble.git
[submodule "berlin-transport/Vendor/Vendor/Nimble"]
	path = berlin-transport/Vendor/Vendor/Nimble
	url = git@github.com:Quick/Nimble.git
